name: Build and Push Docker Image


on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

    
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: erikpajtler/razvojingradnja:latest,erikpajtler/razvojingradnja:${{ github.sha }}

          name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: 'rgislevelstat'   # ime tvoje Web App v Azure
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        images: 'erikpajtler/razvojingradnja:latest'
